<div class="map-container">
  <div class="grid-col left3">
    <hex-field [fieldType]="hexFieldEnum.STARTER"></hex-field>
    <hex-field></hex-field>
    <hex-field></hex-field>
    <hex-field [fieldType]="hexFieldEnum.STARTER"></hex-field>
  </div>
  <div class="grid-col left2">
    <hex-field></hex-field>
    <hex-field></hex-field>
    <hex-field></hex-field>
    <hex-field></hex-field>
    <hex-field></hex-field>
  </div>
  <div class="grid-col left1">
    <hex-field></hex-field>
    <hex-field></hex-field>
    <hex-field></hex-field>
    <hex-field></hex-field>
    <hex-field></hex-field>
    <hex-field></hex-field>
  </div>
  <div class="grid-col center">
    <hex-field [fieldType]="hexFieldEnum.STARTER"></hex-field>
    <hex-field></hex-field>
    <hex-field></hex-field>
    <hex-field [fieldType]="hexFieldEnum.MECATOL"></hex-field>
    <hex-field></hex-field>
    <hex-field></hex-field>
    <hex-field [fieldType]="hexFieldEnum.STARTER"></hex-field>
  </div>
  <div class="grid-col right1">
    <hex-field></hex-field>
    <hex-field></hex-field>
    <hex-field></hex-field>
    <hex-field></hex-field>
    <hex-field></hex-field>
    <hex-field></hex-field>
  </div>
  <div class="grid-col right2">
    <hex-field></hex-field>
    <hex-field></hex-field>
    <hex-field></hex-field>
    <hex-field></hex-field>
    <hex-field></hex-field>
  </div>
  <div class="grid-col right3">
    <hex-field [fieldType]="hexFieldEnum.STARTER"></hex-field>
    <hex-field></hex-field>
    <hex-field></hex-field>
    <hex-field [fieldType]="hexFieldEnum.STARTER"></hex-field>
  </div>
</div>
