<div class="player-area">
  <div class="player-area__tokens">
    <h2>Tokens</h2>
    <div class="player-area__wrapper">
      <div class="player-area__tactics">
        <h3 class="player-area__label">Tactic</h3>
        <div class="player-area__value">3</div>
      </div>
      <div class="player-area__fleet">
        <h3 class="player-area__label">Fleet</h3>
        <div class="player-area__value">3</div>
      </div>
      <div class="player-area__strategy">
        <h3 class="player-area__label">Strategy</h3>
        <div class="player-area__value">2</div>
      </div>
    </div>
  </div>

  <div class="player-area__resources">
    <h2>Resources</h2>
    <div class="player-area__wrapper">
      <div class="player-area__trade-goods">
        <h3 class="player-area__label">Trade Goods</h3>
        <div class="player-area__value">3</div>
      </div>
      <div class="player-area__commodities">
        <h3 class="player-area__label">Commodities</h3>
        <div class="player-area__value">3/6</div>
      </div>
    </div>
  </div>

  <div class="player-area__planet-resources">
    <h2>Planet Resources</h2>
    <div class="player-area__wrapper">
      <div class="player-area__planet-tgoods">
        <h3 class="player-area__label">Trade Goods</h3>
        <div class="player-area__value">4/11</div>
      </div>
      <div class="player-area__planet-influence">
        <h3 class="player-area__label">Influence</h3>
        <div class="player-area__value">5/5</div>
      </div>
    </div>
  </div>

  <div class="player-area__cards">
    <h2>Cards</h2>
    <div class="player-area__wrapper">
      <div class="player-area__planets">
        <h3>Planets</h3>
        <div class="player-area__planets-btn"></div>
      </div>
      <div class="player-area__action-cards">
        <h3>Action Cards</h3>
        <div class="player-area__actcards-btn"></div>
      </div>
    </div>
  </div>
</div>
