@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$hex-color: rgba(#ccc, 0.4);
$hex-color--mecatol: rgba(#3498db, 0.4);
$hex-hover: rgba(#ecf0f1, 0.4);
$hex-starter: rgba(#2ecc71, 0.4);
$font-display: "Orbitron", sans-serif;
$font-main: "Roboto", sans-serif;
$hex-color--mecatol-light: rgba(#75bbea, 0.4);
$hex-starter-light: rgba(#76eaa7, 0.4);

$color-primary: #3498db;
$color-accent: #e67e22;
$color-black: #1e1e1e;
$color-white: #ecf0f1;

body {
  background: linear-gradient(0deg, rgba(#1e1e1e, 0.6), rgba(#1e1e1e, 0.6)),
    url("bg-main.avif");
  background-size: cover;
  font-family: $font-main;

  color: $color-white;
}

html {
  font-size: 62.5%;
}

main {
  font-size: 2rem;

  @media only screen and (max-width: 1920px) {
    font-size: 1.5rem;
  }
}

.game-container {
  display: flex;
  justify-content: space-between;
}

h1,
h2,
h3,
h4 {
  font-family: $font-display;
}
