.grid-col {
  display: flex;
  flex-direction: column;
  width: 130px;

  @media only screen and (max-width: 1920px) {
    row-gap: 6px;
    width: 80px;
  }

  &.left1,
  &.right1 {

  }

  &.left2,
  &.right2 {

  }

  &.left3,
  &.right3 {

  }
}

.map-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
