.header {
  background-color: $color-primary;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  z-index: 10;
  opacity: 0;
  transition: all 200ms ease;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }

  &-brand {
    font-size: 3rem;
    font-family: $font-display;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-white;
  }

  &-auth {
    display: flex;
    gap: 1rem;
  }
}
