.hex {
  height: 90px;
  width: 100px;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  background-color: $hex-color;
  cursor: pointer;
  transition: background-color 200ms ease;

  &:hover {
    background-color: $hex-color--light;
  }

  &.starter {
    background-color: $hex-starter;
    &:hover {
      background-color: $hex-starter-light;
    }
  }

  &.mecatol {
    background-color: $hex-color--mecatol;
    &:hover {
      background-color: $hex-color--mecatol-light;
    }
  }

  &.owned {
    border: 5px solid $hex-starter;
    display: block;
  }
}
