
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$twilight-zone-primary: mat.define-palette(mat.$indigo-palette);
$twilight-zone-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$twilight-zone-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$twilight-zone-theme: mat.define-light-theme((
  color: (
    primary: $twilight-zone-primary,
    accent: $twilight-zone-accent,
    warn: $twilight-zone-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($twilight-zone-theme);

/* You can add global styles to this file, and also import other style files */

// Basics
@import "./assets/base";

// Base Components
@import "./assets/button";


// Components
@import "./assets/header";
@import "./assets/hex-field";
@import "./assets/game-map";
@import "./assets/hex-dialog";
@import "./assets/player-area";
@import "./assets/game-details";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
